.divSearch {
    /*padding: 30px 0;*/
    float: right;
    margin-right: 30px;
    /*margin-bottom:20px;*/
    margin-top:-10px;
}

.formSearch {
    position: relative;
    width: 300px;
    /*margin: 0 auto;*/
    
    /*margin-right: 50px;*/
    box-sizing: border-box;
}

/** {
    box-sizing: border-box;
}*/

/*.d1Search {
    background: #A3D0C3;
}*/

input {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #FF7400 /*#7BA7AB*/;
    border-radius: 5px;
    outline: none;
    background: #FFFFFF /*#F9F0DA*/;
    color: #000000  /*#9E9C9C*/;
}

button {
    /*box-sizing: border-box;*/
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #FF7400 ;/*#7BA7AB;*/
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

    button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA;
    }
