body {
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 100%;
    padding-right: 0px;
}

/*html {
    overflow: hidden;
    height: 100%;
}*/

nav {
    background: white;
    /*margin-top: 500px;*/
    /*opacity: 0.1;*/
    margin-bottom:15px; /* нижний див*/
}

* {
    margin: 0;
    padding: 0;
}



/*nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .4s ease-in-out;
}

.topmenu {
    text-align: center;

    /*padding: 5px 0;
}*/

    /*.topmenu > li {
        display: inline-block;
        position: relative;
    }

        .topmenu > li:after {
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            height: 12px;
            background: #d2d2d2;
            top: 16px;
            box-shadow: 4px -2px 0 #d2d2d2;
            transform: rotate(30deg);
        }

        .topmenu > li:last-child:after {
            background: none;
            box-shadow: none;
        }

        .topmenu > li > a {
            padding: 12px 26px;
            color: #767676;*/
            /*text-transform: uppercase;*/
            /*font-weight: bold;
            letter-spacing: 1px;
            font-family: 'Exo 2', sans-serif;
            font-size: 16px;
        }

    .topmenu li a:hover {
        color: #c0a97a;
    }

.submenu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
}

    .submenu li a {
        padding: 10px 0;
        margin: 0 10px;
        border-bottom: 1px solid #efefef;
        font-size: 14px;
        color: #484848;
        font-family: 'Kurale', serif;
    }

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
*/
/*.footer1 {
    background: #28282a;
    padding: 100px 0;
    padding: 50px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}*/
