<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Кладовая Алтая"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@

    @*<style>

        </style>*@

    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/Header_Background.css" />
    <link rel="stylesheet" href="~/css/Search.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/MegaMenu.css" />

</head>
<body>
    <div class="ColorHeader">
        <!--меню-->
        
        <div class="GeneralHeader">
            <div class="ColorHeader posHeader">
                <div class="test_color">
                    <a href="~/Home/Main" class="ColourChange poseMain underline">ГЛАВНАЯ</a>
                    <a href="~/Home/Contact" class="ColourChange poseContact underline">КОНТАКТЫ</a>
                    <div class="divSearch">
                        <form class="formSearch">
                            <input type="text" placeholder="Искать здесь...">
                            <button type="submit"></button>
                        </form>
                    </div>
                </div>


            </div>
            
            <!--вторая полоса-->
            <div class="line_2">

            </div>
            <div>
                <nav class="container">
                    <ul class="top-menu">
                        <li>
                            <a href="">ЗДОРОВЬЕ</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href="">Борьба с лишним весом</a></li>
                                        <li><a href="">Дыхательная система</a></li>
                                        <li><a href="">Сердечно-сосудистая система</a></li>
                                        <li><a href="">Иммунитет</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Для мозговой активности</a></li>
                                        <li><a href="">Для горла и носа</a></li>
                                        <li><a href="">При варикозе и геморрое</a></li>
                                        <li><a href="">Пищеварительная система</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Нервная система</a></li>
                                        <li><a href="">Для печени и почек</a></li>
                                        <li><a href="">Для суставов</a></li>
                                        <li><a href="">При возрастных изменениях</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">При аллергии</a></li>
                                        <li><a href="">От паразитов</a></li>
                                        <li><a href="">Покровная система</a></li>
                                        <li><a href="">При диабете</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Эндокринная система</a></li>
                                        <li><a href="">Для зрения</a></li>
                                        <li><a href="">Для слуха</a></li>
                                        <li><a href="">Для зубов</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>


                        <li>
                            <a href="">Тело</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Руки</a></li>
                                        <li><a href="">Кремы</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Молочко для тела</a></li>
                                        <li><a href="">Средства для ванн</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Ноги</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">ЛИЦО</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Для ресниц</a></li>
                                        <li><a href="">Очищение</a></li>
                                        <li><a href="">Кремы</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Подарочные наборы</a></li>
                                        <li><a href="">Тоники</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Сыворотки</a></li>
                                        <li><a href="">Маски</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="">ВОЛОСЫ</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Шампуни</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Маски</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Ополаскиватели</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">ЖЕНЩИНАМ</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Здоровье </a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Средства для интимной гигиены</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">МУЖЧИНАМ</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Здоровье </a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">Средства для интимной гигиены</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href=""></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">ДЕТЯМ</a>
                        </li>

                    </ul>
                </nav>
                @*<nav class="positionNav">
            <ul class="topmenu">
                @foreach (var _category in Category.category)
                {
                    <li>
                        <a href="/@_category.Key">@_category.Key</a>
                        <ul class="submenu">
                            @foreach (var _category2 in _category.Value)
                            {
                                <li>  <a href="/@_category2 ">@_category2</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </nav>*@
            </div>
        </div>
      

        <main class="backgroundbody">

            @*<table class="table-condensed">*@

            @*</table>*@
            <!--основной контент-->
            <div class="container body-content">
                @RenderBody()
            </div>
        </main>
                <div class="footer1">
                    © 2019 - Кладовая Алтая  @*<p>© 2019 - Кладовая Алтая</p>*@
                </div>
                @*<footer class="footer1">
                    <p>© 2019 - Кладовая Алтая</p>
                </footer>*@
            
    </div>
</body>
</html>