@{
    // Layout = null;
    ViewData["Title"] = "Оформление заказа";
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
@*<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.ProductId" name="ProductId" />
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="User" /> </td>
                </tr>
                <tr>
                    <td>Адрес:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td><input type="text" name="ContactPhone" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>*@

<form method="post" class="form-horizontal" role="form">
    <input type="hidden" value="@ViewBag.ProductId" name="ProductId" />
    <p>Для оформления покупки заполните следующие поля:</p>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Имя:</label>
        <div class="col-md-4">
            <input type="text" name="User" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Адрес:</label>
        <div class="col-md-4">
            <input type="text" name="Address" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Телефон:</label>
        <div class="col-md-4">
            <input type="text" name="ContactPhone" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Отправить" />
        </div>
    </div>

</form>
</html>