@*@model IEnumerable<Klad.Models.Product>*@
@*@using Klad.Models
    @model IndexViewModel*@
@using Klad.Models
@model IndexViewModel
@*подключаем все tag-хелперы*@
@addTagHelper "*, Klad"

@{
    ViewData["Title"] = "Главная";
    //   Layout = null;
}
<!DOCTYPE html>

<html>
<body>
    <table class="table-condensed">
        @*@*Распределяет или выравнивает текст в таблице
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Категория</td>
            <td>Цена</td>
            <td></td>
        </tr>*@


        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Company</td>
                <td>@product.Category</td>
                <td>@product.Price</td>
                @*@{product.Address += ".jpg"; }*@

                <img src="~/images/@product.Category/@product.Category2/@product.Address" alt="альтернативный текст">
                <td><a href="~/Home/ViewProduct/@product.Id">Подробнее</a></td>
            </tr>
      
        }
        </table>


    </body>
</html>